*{
  box-sizing: border-box;
}
body{
  background: rgb(131,58,180);
background: linear-gradient(360deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
color: white;
display: flex;
flex-direction: column;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
margin: 0;
}
.root{
  display: flex;
  flex-direction: column;
}
header{
  background-color: blue;
  padding: 1rem;
  display: flex;
  justify-content: flex-end;

}
.movie{
  width: 300px;
  margin: 1rem;
  background-color: purple;
  border-radius: 3px;
  box-shadow: #00000040 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  overflow: hidden;
  position: relative;


}
.movie img{
  max-width: 100%;


}
.movie-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.movie-info{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
.movie-info h3{
  margin: 0;
}
.movie-over{
  position: absolute;
  color: black;
  padding: 1rem;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: aliceblue;
  transform: translateY(102%);
  transition: transform 0.3s ease-in-out;
  overflow: auto;
  box-shadow: #00000040 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.movie:hover .movie-over{
  transform: translateY(0);
}

.search{
  font-family: inherit;
  font-size: 1.2rem;
  border: 2px solid #22254b;
  border-radius: 50px;
  background-color: transparent;
  color: white;
  padding: .5rem 1.5rem;

}
.search:focus{
  outline: none;

}
.tag{
  background-color: #22254b;
  border-radius: 5px;
  font-weight: bold;

  padding: .5rem;

}

.green{

  color: green;

}
.orange{
  color: orange;
  
}
.red{
  color: red;
}